In [16]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
df=pd.read_csv("C:\\Users\\GPT BANTWAL\\credit_risk.csv")
df

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1,unskilled resident,1,none,yes,good
996,<0,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1,skilled,1,none,yes,good

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   over_draft              1000 non-null   object
 1   credit_usage            1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   current_balance         1000 non-null   int64
 5   Average_Credit_Balance  1000 non-null   object
 6   employment              1000 non-null   object
 7   location                1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  cc_age                  1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [18]:
x=df.columns.drop("class")

In [19]:
y=df['class']
y

0      good
1       bad
2      good
3      good
4       bad
       ...
995    good
996    good
997    good
998     bad
999    good
Name: class, Length: 1000, dtype: object

In [20]:
df_encoded=pd.get_dummies(df[x])
print("total no of predictors after encoding=",len(df_encoded.columns))
df_encoded.columns

total no of predictors after encoding= 61

Index(['credit_usage', 'current_balance', 'location', 'residence_since',
       'cc_age', 'existing_credits', 'num_dependents', 'over_draft_0<=X<200',
       'over_draft_<0', 'over_draft_>=200', 'over_draft_no checking',
       'credit_history_all paid',
       'credit_history_critical/other existing credit',
       'credit_history_delayed previously', 'credit_history_existing paid',
       'credit_history_no credits/all paid', 'purpose_business',
       'purpose_domestic appliance', 'purpose_education',
       'purpose_furniture/equipment', 'purpose_new car', 'purpose_other',
       'purpose_radio/tv', 'purpose_repairs', 'purpose_retraining',
       'purpose_used car', 'Average_Credit_Balance_100<=X<500',
       'Average_Credit_Balance_500<=X<1000', 'Average_Credit_Balance_<100',
       'Average_Credit_Balance_>=1000',
       'Average_Credit_Balance_no known savings', 'employment_1<=X<4',
       'employment_4<=X<7', 'employment_<1', 'employment_>=7',
       'employment_unemployed', 'personal_status_female div/dep/mar',
       'personal_status_male div/sep', 'personal_status_male mar/wid',
       'personal_status_male single', 'other_parties_co applicant',
       'other_parties_guarantor', 'other_parties_none',
       'property_magnitude_car', 'property_magnitude_life insurance',
       'property_magnitude_no known property',
       'property_magnitude_real estate', 'other_payment_plans_bank',
       'other_payment_plans_none', 'other_payment_plans_stores',
       'housing_for free', 'housing_own', 'housing_rent',
       'job_high qualif/self emp/mgmt', 'job_skilled',
       'job_unemp/unskilled non res', 'job_unskilled resident',
       'own_telephone_none', 'own_telephone_yes', 'foreign_worker_no',
       'foreign_worker_yes'],
      dtype='object')

In [21]:
x_train,x_test,y_train,y_test=train_test_split(df_encoded,y,test_size=0.15,random_state=100)
print("shape of x_train and y_train are:",x_train.shape,"and",y_train.shape,"respectively")
print("shape of x_test and y_test are:",x_test.shape,"and",y_test.shape,"respectively")

shape of x_train and y_train are: (850, 61) and (850,) respectively
shape of x_test and y_test are: (150, 61) and (150,) respectively

In [24]:
model=DecisionTreeClassifier(random_state=1)
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [12]:
train_predictions=model.predict(x_train)
test_predictions=model.predict(x_test)

NameError: name 'model' is not defined

In [13]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz 
import graphviz
from sklearn.tree import DecisionTreeClassifier

In [17]:
dot_data =export_graphviz(model_selection,out_file=None,
                          feature_names=df_encoded.columns,  
                          class_names=model.classes_,  
                          ) 
graph = graphviz.Source(dot_data) 
graph

NameError: name 'model_selection' is not defined

In [48]:
train_accuracy = model.score(x_train,y_train)
print("Accuracy of the model on train data = ",train_accuracy)
test_accuracy = model.score(x_test,y_test)
print("Accuracy of the model on test data = ",test_accuracy)

Accuracy of the model on train data =  1.0
Accuracy of the model on test data =  0.68

In [49]:
model1 = DecisionTreeClassifier(min_samples_split=10,min_impurity_decrease=0.005)
model1.fit(x_train,y_train)
print("train_accuracy = ", model1.score(x_train,y_train))
print("test_accuracy = ", model1.score(x_test,y_test))

train_accuracy =  0.7635294117647059
test_accuracy =  0.7266666666666667

In [51]:
model2 = DecisionTreeClassifier(min_samples_split=20,min_impurity_decrease=0.1)
model2.fit(x_train,y_train)
print("Model2 train accuracy = ", model2.score(x_train,y_train))
print("Model2 test accuracy = ", model2.score(x_test,y_test))

Model2 train accuracy =  0.6976470588235294
Model2 test accuracy =  0.7133333333333334

In [11]:
from sklearn.metrics import confusion_matrix
train_conf_matrix=confusion_matrix(y_train,train_predections)
pd.DataFrame(train_conf_matrix,columns=model.classes_,index=model.classes)

NameError: name 'y_train' is not defined